<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <title>Hoteis</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Hotel Experience</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav_item">
              <a class="nav-link" href="{% url 'hoteis' %}" id="navbarDarkDropdownMenuLink"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Principais Hoteis
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}" id="navbarDarkMenuLink" role="button" data-bs-toggle="" aria-expanded="false">
                Login
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'reserva' %}" id="navbarDarkMenuLink" role="button" data-bs-toggle="" aria-expanded="false">
                Reserva
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cadastro' %}" id="navbarDarkMenuLink" role="button" data-bs-toggle="" aria-expanded="false">
                Cadastro
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cliente' %}" id="navbarDarkMenuLink" role="button" data-bs-toggle="" aria-expanded="false">
                Clientes Cadastrados
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'hoteis_reservados' %}" id="navbarDarkMenuLink" role="button" data-bs-toggle="" aria-expanded="false">
                Hoteis Reservados
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sobre' %}" id="navbarDarkMenuLink" role="button" data-bs-toggle="" aria-expanded="false">
                Sobre Nós
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section>
        <div class="container">
            <br>
            <h2 class="jumbotrom">Clientes Cadastrados</h2>
            <br>
            <table class="table">
              <thead>
                <tr>
                    <th scope="col">ID</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Idade</th>
                  <th scope="col">CPF</th>
                  <th scope="col">Telefone</th>
                  <th scope="col">Email</th>
                  <th scope="col">Senha</th>

                </tr>
              </thead>
                <tbody>
            {% for dados in clientes %}
            {% csrf_token %}
                <tr>
                  <th scope="row"><a href=""> <button type="submit" class="btn btn-outline-dark"> {{dados.id}} </button></a></th>
                  <td>{{dados.nome}}</td>
                  <td>{{dados.idade}}</td>
                  <td>{{dados.cpf}}</td>
                  <td>{{dados.telefone}}</td>
                  <td>{{dados.email}}</td>
                  <td>{{dados.senha}}</td>
                  <td><a href="{% url 'deleta_cliente'  dados.id %}"><button type="submit" class="btn btn-outline-danger" > Deletar </button></a></td>
                </tr>
              {%endfor%}
              </tbody>
            </table>
        </div>
    </section>
</body>
</html>