{%extends 'layout.html' %}
{% load static %}
{%block 'conteudo'%}
<div class="ctr">
    <div class="login-tudo">
      <h1>LOGIN</h1>
      <div class="login">
        <form role="form">
          <fieldset>
            <div class="usuario">
              <label for="userLogin"><h5>Usuário:</h5></label>
              <input
                class="us"
                id="userLogin"
                type="text"
                aria-label="Usuário"
                placeholder="Usuário"
              />
            </div>

            <div class="senha">
              <label for="userPassword"><h5>Senha:</h5></label>
              <input
                class="us"
                type="password"
                aria-label="Senha"
                placeholder="Senha"
              />
            </div>

            <button class="btn_entrar">
              <a href="{% url 'hoteis_reservados' %}">ENTRAR</a>
            </button>
            <p class="cadastro">
              Não possui cadastro?
              <a href="{% url 'cadastro' %}">Cadastre-se agora</a>
            </p>
          </fieldset>
        </form>
      </div>
    </div>
  </div> 
    {%endblock%}
