{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/reserva.css' %}">
    <title>Reserva</title>
    <link href="reserva.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Hotel Experience</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav_item">
              <a class="nav-link" href="{% url 'hoteis' %}" id="navbarDarkDropdownMenuLink"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Principais Hoteis
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}" id="navbarDarkMenuLink" role="button" data-bs-toggle="" aria-expanded="false">
                Login
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'reserva' %}" id="navbarDarkMenuLink" role="button" data-bs-toggle="" aria-expanded="false">
                Reserva
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cadastro' %}" id="navbarDarkMenuLink" role="button" data-bs-toggle="" aria-expanded="false">
                Cadastro
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cliente' %}" id="navbarDarkMenuLink" role="button" data-bs-toggle="" aria-expanded="false">
                Clientes Cadastrados
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'hoteis_reservados' %}" id="navbarDarkMenuLink" role="button" data-bs-toggle="" aria-expanded="false">
                Hoteis Reservados
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sobre' %}" id="navbarDarkMenuLink" role="button" data-bs-toggle="" aria-expanded="false">
                Sobre Nós
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="contact-form">
    <h2>Vitória Hotel</h2>
    <form class="row g-3 needs-validation" method="post" action="{% url 'insere_reserva' %}">
      {% csrf_token %}
      <div class="col-md-4">
        <label for="nome" class="form-label">Nome completo</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
        <div class="valid-feedback">
          Correto!
        </div>
      </div>
      <div class="col-md-4">
        <label for="cpf" class="form-label">CPF</label>
        <input type="text" class="form-control" id="cpf" name="cpf" required>
        <div class="valid-feedback">
          Correto!
        </div>
      </div>
      <div class="col-md-4">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="telefone" name="telefone" required>
        <div class="invalid-feedback">
          Por favor use um numero de telefone válido!
        </div>
      </div>
      <div class="col-md-4">
        <label for="hotel" class="form-label">Nome do Hotel</label>
        <input type="text" class="form-control" id="hotel" name="hotel" required>
        <div class="invalid-feedback">
          Por favor coloque um nome válido!
        </div>
      </div>
      <div class="col-md-2">
        <label for="dias_reservados" class="form-label">Dias Reservados</label>
        <input type="number" class="form-control" id="dias_reservados" name="dias_reservados" required>
        <div class="invalid-feedback">
          Minimo de dias reservados é de 1
        </div>
      </div>
      <div class="col-md-2">
        <label for="num_quartos" class="form-label">Numero de Quartos</label>
        <input type="number" class="form-control" id="num_quartos" name="num_quartos" required>
        <div class="invalid-feedback">
          Minimo de quartos reservados é de 1
        </div>
      </div>
      <div class="col-md-2">
        <label for="num_adultos" class="form-label">Numero de Adultos</label>
        <input type="number" class="form-control" id="num_adultos" name="num_adultos" required>
        <div class="invalid-feedback">
          Numero negativo não pode!
        </div>
      </div>
      <div class="col-md-2">
        <label for="num_criancas" class="form-label">Numero de Crianças</label>
        <input type="number" class="form-control" id="num_criancas" name="num_criancas" required>
        <div class="invalid-feedback">
          Minimo de quartos reservados é de 0
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Cadastrar</button>
      </div>
    </form>
</div>
</body>
</html>